* {
    /* Do not put auto next to margin because this will make everything go to the center.  */
    margin: 0;
    padding: 0;
}
.container {
    width: 700px;
    height: 300px;
    border-style: solid;
    border-color: gray;
    /* Doing this centers the container in the page because there was a large default margin pushing it left. */
    margin: 0 auto;

}
.top {
    background-color: rgb(48, 158, 221);
    height: 25%;
}
.profile img {
    position: relative;
    height: 100px;
    top: 20px;
    left: 20px;
    border-style: solid;
    border-radius: 50%;
    border-color: gray;
}
.text {
    padding-left: 20px;
}
h1 {
    margin-bottom: 10px;
    margin-top: 60px;
}
.location {
    display: flex;
    width: 150px;
    margin-bottom: 10px;
}
.location img {
    height: 20px;
    margin-right: 5px;
}
.description {
    font-weight: 550;
}
.edit {
    display: flex;
    width: 100px;
    padding-top: 10px;
    text-decoration: underline;
    color: rgb(44, 44, 200);
}
.edit img {
    height: 20px;
    margin-right: 5px;
}
